/* description part */
dl {
	margin-bottom: 20px;
}
dl:before, dl:after {
	content: "";
	display: table;
	line-height: 0;
}
dl:before, dl:after {
	content: "";
	display: table;
	line-height: 0;
}
dl:after {
	clear: both;
}

dt, dd {
	line-height: 20px;
}
dt {
	font-weight: bold;
}
dl dt {
	clear: left;
	float: left;
	overflow: hidden;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 160px;
}


dt, dd {
	line-height: 20px;
}
dd {
	margin-left: 10px;
}
dl dd {
	margin-left: 180px;
}

/* pattern field part */
#patternentity-page-pattern-field {
	border: 1px solid #BAB1B1;
	margin: 40px 40px 40px 10px;
	width: 80%;
	padding-top: 20px;
}

#patternentity-page-pattern-field ul{
	list-style: none;
	margin: 0;
}

.yaml_aa5500 {
	color: #221199;
}

.yaml_221199{
	color: #aa5500;
}

.yaml_116644 {
	color: #116644;
}
